{extend name="public/base"}
{block name="meta"}{/block}
{block name="content"}
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" action="{:url('videos/videos')}" method="post">
            <input class="layui-input" placeholder="开始日" value="{$data['search']['start']}" name="start" id="start">
            <input class="layui-input" placeholder="截止日" value="{$data['search']['end']}" name="end" id="end">
            <input type="text" name="account"  placeholder="发布人" value="{$data['search']['account']}" autocomplete="off" class="layui-input">
            <input type="text" name="title"  placeholder="标题" value="{$data['search']['title']}" autocomplete="off" class="layui-input">
            <button class="layui-btn mt-3"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <xblock>
        <button mark="delall" url="{:url('videos/videos_delete')}" class="layui-btn layui-btn-danger"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加视频','{:url("videos/videos_add")}',800,600)"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：{$data.count} 条</span>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>标题</th>
            <th>视频</th>
            <th>发布人</th>
            <th>好评量</th>
            <th>差评量</th>
            <th>转发量</th>
            <th>时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="data.list" id="v"}
        <tr>
            <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$v.video_id}'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>{$v.video_id}</td>
            <td>{$v.title}</td>
            <td><video width="100px" src="{$v.url}" controls="controls"></video></td>
            <td>{$v.username}</td>
            <td>{$v.good}</td>
            <td>{$v.bad}</td>
            <td>{$v.send_num}</td>
            <td>{$v.add_time}</td>
            <th>
                <form class="layui-form" data="{$v['status']}">
                    <input type="checkbox" name="status"  data-id="{$v.video_id}" lay-filter="status" lay-text="启用|停用" {if condition="$v['status'] == 0"} checked {/if} lay-skin="switch">
                </form>
            </th>
            <td class="td-manage">
                <a title="编辑"  onclick="x_admin_show('编辑','{:url("videos/videos_edit",["id"=>$v['video_id']])}',800,600)" href="javascript:;">
                <i class="layui-icon">&#xe642;</i>
                </a>
                <a mark="del" url="{:url('videos/videos_delete',['id'=>$v['video_id']])}" href="javascript:;">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    {$data.page}
</div>
<script>
    $(function(){
        Common.time();
        Common.del();
        Common.onoff("status","{:url('videos/videos_edit')}");
    })
</script>
{/block}