{extend name="public/base"}
{block name="meta"}{/block}
{block name="content"}
<div class="x-body">
    <xblock>
        <button class="layui-btn" onclick="x_admin_show('添加用户类型','{:url("member/type_add")}',400,400)"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：{$count} 条</span>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>类型</th>
            <th>描述</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="v"}
        <tr>
            <td>{$v.type_name}</td>
            <td>{$v.desc}</td>
            <td>
                {if condition="$v['status'] == 0"}
                <span class="x-green">启用</span>
                {else /}
                <span class="x-red">停用</span>
                {/if}
            </td>
            <td class="td-manage">
                <a title="编辑"  onclick="x_admin_show('编辑','{:url("member/type_edit",["id"=>$v["user_type_id"]])}',400,400)" href="javascript:;">
                <i class="layui-icon">&#xe642;</i>
                </a>
                <a mark="del" title="若删除此组，所对应的所有用户都将被删除，请谨慎操作！" url="{:url('member/type_delete',['id'=>$v['user_type_id']])}" href="javascript:;">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
</div>
<script>
    Common.del();
</script>
{/block}